@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --primary-color: #0c7af0;
    --secondary-color: #C763EC;
    --tertiary-color: #101010;
    --primary-text-color: #fff;
    --purple-gradient: linear-gradient(90deg, #BC60E7 0%, #5A3BB9 100%);
    --blue-gradient: linear-gradient(90deg, #007bff 0%, #00BFFF 100%);
    --box-show-purple-glow: #bc60e737;
    /* black[#101010] to purple[#c763ec] gradient from outside to inside */
    --black-purple-gradient: radial-gradient(circle, #28153A 0%, #101010 100%);
}
body{
    background: var(--tertiary-color);
    color: var(--primary-text-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 0 30px;
    overflow: hidden;
}
